#banner {
    background-image: url('/imagens/Banner/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.406);
        backdrop-filter: blur(100px);
        color: rgb(0, 0, 0);
        position: fixed;
        top: -10px;
        width: 100%;
        img {
            width: 130px;
            margin: 20px;
            margin-left: 80px;
        }

        .navegacao-mobile {
            display: none;
        }


        .navegacao-desktop {

            left: 50%;
            margin-left: 90px;
            nav {
                a {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 600;
                    text-decoration: none;
                    margin: 20px;
                    transition: color 0.3s ease-out;
                }

                a:hover {
                    color: #ffffffb9;
                    cursor: pointer;
                }

                .book {
                    background-color: transparent;
                    color: #FFFF;
                    border: solid 2px #FFFF;
                    border-radius: 10px;
                    padding: 10px;
                    width: 120px;
                    margin: 40px;
                    font-weight: 600;
                    transition: transform 0.3s ease-out;
                }

                .book:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                    background-color: #ffffff3e;
                }
            }
        }
    }

    .conteudo-banner {
        color: #FFFF;
        margin-left: 165px;
        margin-top: 300px;
        line-height: 44px;
        padding: 40px;
        p {
            font-size: 20px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 50px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .video {
            display: flex;
            gap: 10px;

            p {
                font-size: 20px;
            }

            img {
                transition: transform 0.2s ease-out;
            }

            img:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}

.dados {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    margin-bottom: 30px;
    gap: 50px;
    box-shadow: -10px 10px 20px 0px #2d2d2d3d;

    .iten {
        img {}

        span {
            color: #345E40;
            font-weight: bold;
        }

        p {
            margin-top: 13px;
            color: #2D2D2D;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .line {

            background-color: #686868;
            width: 200px;
            height: 1.5px;
        }

        .tent-icon {
            display: flex;

            img {
                position: relative;
                width: 13px;
                height: 8px;
                left: 140px;
                top: 20px;
            }

            img:hover {
                cursor: pointer;
            }
        }
    }

    .book-now {
        background-color: #345E40;
        color: #FFFFFF;
        font-weight: Bold;
        width: 180px;
        padding: 15px;
        border: none;
        border-radius: 10px;
        transition: background-color 0.3s ease-in, transform 0.2s ease-in;
    }

    .book-now:hover {
        background-color: #345e40b7;
        transform: scale(1.05);
        cursor: pointer;
    }
}